body{
    text-align: center;
    margin:0;
    padding-bottom:250px;
    box-sizing: border-box;
    border: 4px solid black;
    
}
.main{
    margin:10px;
    background-color:rgb(119, 194, 188,0.5);
    border: 4px solid black;
    display: flex;
    justify-content: space-between;
    height:70px;
}

.container{
    padding-top: 10px;
    border:5px solid black;
    background-color: rgba(119, 194, 188, 0.5); 
    margin-right: 400px;
    margin-left: 400px;
    padding-bottom: 20px;
    border-radius: 10px;
    
}
img{
    width:40px;
    height:40px;
    margin:6px;
}
a{
    color: black;
    text-align: center;
    margin:5px;
}
a:hover{
    color: white;
}
.navi{
    margin-left: 20px;
    align-items: center;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    
}
h2{
    margin-right: 60%;
}
input[type="text"]{
    width: 200px;
    height: 20px;
}
.input-container {
    position: relative;
}
body {
    font-family: Arial, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

li:hover {
    background-color: #ddd;
}
button{
    background-color: rgba(119, 194, 188,0.5);
    border-radius: 10px;
    width: 80px;
}
.end{
    margin-top: 20px;
}
button:hover{
    background-color: rgba(119, 194, 188);
}