.signup{
    text-align: center;
}
.form-group {
    display: flex;
    margin-right: 200px;
    margin-bottom: 20px;
}
textarea{
    border-radius:10px ;
}
.form{
    max-width: 600px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 20px;
      border-radius: 10px;
       border: 2px solid black;
       box-shadow: 0 0 5px rgb(6, 136, 129);
  }
  input[type="text"]
  input[type="email"]{
      margin-left:30px;
  }
  input[type="radio"]{
    border-radius: 2px;
  }
  input{
      width:50%;
      padding:10px;
      border: 1px solid grey;
      border-radius:10px;
  }
  .button1{
    text-align: center;
      padding: 10px;
  }
  button{
      background-color:rgb(6, 136, 129,0.5);
      width: 25%;
      height:35px;
      font-size: 20px;
      border-radius: 10px;
      cursor: pointer;
  }
  button:hover{
      background-color:rgb(6, 136, 129);
  }
  span:hover{
      text-decoration: underline;
      cursor: pointer;
      color: rgb(6, 136, 129);
  }
  .login{
    text-align: center;
  }
  h1{
    color: skyblue;
  }
  h3,h4,label{
    color: white;
  }